/*---- Themes ----*/
:root {
  --bg-page: #f6f6f6;
  --bg-paper: #ffffff;

  --text-main: #222;
  --text-muted: #555;

  --accent: rgba(102, 117, 134, 1);

  --border: #ddd;
  --shadow: rgba(0, 0, 0, 0.08);

  --svg-color: #555;
}

[data-theme="dark"] {
  --bg-page: #001935;
  --bg-paper: #152844;

  --text-main: #ffffff;
  --text-muted: #9fb3c8;

  --accent: #00b8ff;

  --border: #223b5a;
  --shadow: rgba(0, 0, 0, 0.35);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1, h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}
